.container{
    /* border: 2px solid red; */
    width: 1100px;
    min-width: 90%;
    margin: 0 auto 0 auto;
}

.btn{

    padding: 8px 30px;
    border: 1px solid  transparent;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-style: 16px;
    transition: all .5s ease-in-out;
    
}



.btn-primary{
    background-color: var(--pure);
    color: var(--dark);
}

.btn-primary:hover{
    background: transparent;
    color: var(--pure);
    border: 1px solid  var(--pure);

}


.btn-secondary{
    background-color: transparent;
    color: var(--pure);
    border-color: var(--pure);
}

.btn-secondary:hover{
    background-color: var(--pure);
    color: var(--dark);
}